#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-nav{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 20px 0;
}

.error-msg{
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.h1-heading{
  margin-bottom: 2rem;
  font-size: 2.3rem;
  text-align: center;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 2px;
  /*color: #8062f6;*/

  background: linear-gradient(to right, #008cff, #7b64f6, rgba(0, 230, 204, 0.8), #7b64f6, rgba(0, 230, 204, 0.8));
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
